<div class="flex flex-col h-screen pb-8 bg-gray-100">
  <div class="flex shrink-0 bg-gray-100 p-4">
    <app-language-switcher></app-language-switcher>
  </div>
  <div class="flex flex-grow overflow-hidden">
    <div class="flex flex-shrink-0">
      <app-sidebar></app-sidebar>
    </div>
    <div class="flex-grow overflow-hidden border border-gray-300 rounded-2xl">
      @let selectedType = selectedElementType$ | async;
      @if (elements$ | async; as elements) {
        <svg
          #editorScene
          [attr.width]="'100%'"
          [attr.height]="'100%'"
          class="mx-auto! bg-white"
        >
          <defs>
            <marker
              id="arrow"
              [attr.markerWidth]="DEFAULT_ARROW_SIZE"
              [attr.markerHeight]="DEFAULT_ARROW_SIZE"
              [attr.refX]="DEFAULT_ARROW_SIZE - 1"
              [attr.refY]="DEFAULT_ARROW_SIZE / 2"
              orient="auto"
              markerUnits="strokeWidth"
            >
              <path
                [attr.d]="`M0,0 L${DEFAULT_ARROW_SIZE},${DEFAULT_ARROW_SIZE / 2} L0,${DEFAULT_ARROW_SIZE} Z`"
                fill="black"
              />
            </marker>
          </defs>

          @for (edge of elements.edges; track edge.path) {
            <path
              [attr.d]="edge.path"
              stroke="black"
              fill="none"
              [attr.marker-end]="!edge.isSupport ? 'url(#arrow)' : null"
            />
          }

          @for (node of elements.nodes; track node.element.id) {
            @if (node.element | instanceOf: TerminalElement) {
              <g terminal-shape
                 [attr.transform]="`translate(${node.x},${node.y})`"
                 (dblclick)="deleteNode(node.element.id)"
                 [info]="node.element.id.slice(0, 8)"
              />
            }
            @if (node.element | instanceOf: ConditionElement) {
              <g condition-shape
                 [attr.transform]="`translate(${node.x},${node.y})`"
                 (dblclick)="deleteNode(node.element.id)"
                 [info]="node.element.id.slice(0, 8)"
              />
            }
            @if (node.element | instanceOf: InputElement) {
              <g input-shape
                 [attr.transform]="`translate(${node.x},${node.y})`"
                 (dblclick)="deleteNode(node.element.id)"
                 [info]="node.element.id.slice(0, 8)"
              />
            }
            @if (node.element | instanceOf: ForLoopElement) {
              <g for-loop-shape
                 [attr.transform]="`translate(${node.x},${node.y})`"
                 (dblclick)="deleteNode(node.element.id)"
                 [info]="node.element.id.slice(0, 8)"
              />
            }
            @if (node.element | instanceOf: WhileLoopElement) {
              <g while-loop-shape
                 [attr.transform]="`translate(${node.x},${node.y})`"
                 (dblclick)="deleteNode(node.element.id)"
                 [info]="node.element.id.slice(0, 8)"
              />
            }
            @if (node.element | instanceOf: AssignElement) {
              <g process-shape
                 [attr.transform]="`translate(${node.x},${node.y})`"
                 (dblclick)="deleteNode(node.element.id)"
                 [info]="node.element.id.slice(0, 8)"
              />
            }
          }
          <g
            *ngFor="let point of elements.insertions"
            [attr.transform]="`translate(${point.x},${point.y})`"
            [attr.display]="!selectedType ? 'none' : null">
            <circle
              cx="0"
              cy="0"
              [attr.r]="DEFAULT_INSERT_RADIUS"
              fill="red"
              style="cursor: pointer;"
              onmouseover="this.setAttribute('fill', 'darkred')"
              onmouseout="this.setAttribute('fill', 'red')"
              stroke="black"
              stroke-width="1"
              (click)="handleInsert(point)"
            />
          </g>
        </svg>
      }
    </div>
  </div>
</div>

