<div class="flex flex-grow h-full">
  <div class="flex-shrink-0">
    <app-sidebar></app-sidebar>
  </div>
  <div class="flex-grow h-full overflow-scroll border border-gray-500">
    @if (elements$ | async; as elements) {
      <div class="w-full">
        <svg
          [attr.width]="elements.nodes[0].width"
          [attr.height]="elements.nodes[0].height"
          class="mx-auto!"
        >
          <defs>
            <marker
              id="arrow"
              [attr.markerWidth]="DEFAULT_ARROW_SIZE"
              [attr.markerHeight]="DEFAULT_ARROW_SIZE"
              [attr.refX]="DEFAULT_ARROW_SIZE - 1"
              [attr.refY]="DEFAULT_ARROW_SIZE / 2"
              orient="auto"
              markerUnits="strokeWidth"
            >
              <path
                [attr.d]="`M0,0 L${DEFAULT_ARROW_SIZE},${DEFAULT_ARROW_SIZE / 2} L0,${DEFAULT_ARROW_SIZE} Z`"
                fill="black"
              />
            </marker>
          </defs>

          @for (edge of elements.edges; track edge.path) {
            <path
              [attr.d]="edge.path"
              stroke="black"
              fill="none"
              [attr.marker-end]="!edge.isSupport ? 'url(#arrow)' : null"
            />
          }

          @for (node of elements.nodes; track node.element.id) {
            @if (node.element | instanceOf: TerminalElement) {
              <g terminal-shape
                 [attr.transform]="`translate(${node.x},${node.y})`"
                 (dblclick)="deleteNode(node.element.id)"
                 [info]="node.element.id.slice(0, 8)"
              />
            }
            @if (node.element | instanceOf: ConditionElement) {
              <g condition-shape
                 [attr.transform]="`translate(${node.x},${node.y})`"
                 (dblclick)="deleteNode(node.element.id)"
                 [info]="node.element.id.slice(0, 8)"
              />
            }
            @if (node.element | instanceOf: InputElement) {
              <g input-shape
                 [attr.transform]="`translate(${node.x},${node.y})`"
                 (dblclick)="deleteNode(node.element.id)"
                 [info]="node.element.id.slice(0, 8)"
              />
            }
            @if (node.element | instanceOf: ForLoopElement) {
              <g for-loop-shape
                 [attr.transform]="`translate(${node.x},${node.y})`"
                 (dblclick)="deleteNode(node.element.id)"
                 [info]="node.element.id.slice(0, 8)"
              />
            }
            @if (node.element | instanceOf: WhileLoopElement) {
              <g while-loop-shape
                 [attr.transform]="`translate(${node.x},${node.y})`"
                 (dblclick)="deleteNode(node.element.id)"
                 [info]="node.element.id.slice(0, 8)"
              />
            }
            @if (node.element | instanceOf: AssignElement) {
              <g process-shape
                 [attr.transform]="`translate(${node.x},${node.y})`"
                 (dblclick)="deleteNode(node.element.id)"
                 [info]="node.element.id.slice(0, 8)"
              />
            }
          }
          <g *ngFor="let point of elements.insertions"
             [attr.transform]="`translate(${point.x},${point.y})`">
            <circle
              cx="0"
              cy="0"
              [attr.r]="DEFAULT_INSERT_RADIUS"
              fill="red"
              stroke="black"
              stroke-width="1"
              (click)="handleInsert(point)"
            />
          </g>
        </svg>
      </div>
    }
  </div>
</div>

