<span
  [ngClass]="{ 'bg-amber-200 cursor-pointer': hovered && !leftHovered && !rightHovered }"
  (mouseenter)="$event.stopPropagation(); hovered = true"
  (mouseleave)="$event.stopPropagation(); hovered = false"
  (click)="$event.stopPropagation(); expressionSelected.emit(expression())"
  class="text-xl"
>
  (
  @if (isNested(expression().leftOperand)) {
    <app-arithmetic-expression-preview
      (mouseenter)="$event.stopPropagation(); leftHovered = true"
      (mouseleave)="$event.stopPropagation(); leftHovered = false"
      [expression]="$any(expression().leftOperand)"
      (expressionSelected)="expressionSelected.emit($event)" />
  } @else {
    {{ expression().leftOperand }}
  }
  {{ ' ' + operatorsMap[expression().expressionType] + ' ' }}
  @if (isNested(expression().rightOperand)) {
    <app-arithmetic-expression-preview
      (mouseenter)="$event.stopPropagation(); rightHovered = true"
      (mouseleave)="$event.stopPropagation(); rightHovered = false"
      [expression]="$any(expression().rightOperand)"
      (expressionSelected)="expressionSelected.emit($event)" />
  } @else {
    {{ expression().rightOperand }}
  }
  )
</span>
